DATABASE_URL=""

AUTH_SECRET="" // openssl rand -base64 32

AUTH_URL="" // localhost:3000

ADMIN_EMAIL="" // email for admin profile
ADMIN_PASSWORD_HASH="" // bcrypt hash - npx tsx --env-file=.env -e "import bcrypt from 'bcryptjs'; console.log(bcrypt.hashSync('YOUR_PLAIN_PASSWORD', 12))"